.search {
    padding: 70px 70px 69px;
    border-bottom: 1px solid #E8E8E8;
}

.search__container {
    max-width: 1140px;
    background: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 9px;
}

.search-form {
    width: 100%;
    border-radius: 9px;
    padding-top: 19px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F9F9F9;
}

.search-form__input {
    background: #F9F9F9;
    background-image: url("../../images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 28px 9px;
    border: 0;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 9px;
}

.search-form__input::placeholder {
    position: absolute;
    top: 6px;
    left: 63px;
}

.search-form__button {
    width: 59px;
    height: 34px;
    background: #2BE080;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    border-radius: 48px;
    border: 0;
}

.search-form__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.checkbox {
    border-left: 1px solid #E8E8E8;
    padding: 26px 30px 26px 29px;
}

.checkbox__label {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    display: flex;
    flex-direction: row;
}

.checkbox__input {
    position: relative;
    margin-right: 14px;
}

.checkbox__input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.checkbox__input::before {
    content: "";
    background-image: url("../../images/tumbler-off.svg");
    position: absolute;
    top: -1px;
    left: -17px;
    width: 36px;
    height: 20px;
}

.checkbox__input:checked::before {
    background-image: url("../../images/tumbler-on.svg");
}

@media screen and (max-width: 970px) {
    .search-form__input {
    }
}

@media screen and (max-width: 768px) {
    .search {
        padding: 70px 30px 109px;
    }
}

@media screen and (max-width: 640px) {
    .search {
        padding: 80px 10px 44px;
    }

    .search__container {
        flex-direction: column;
        background: #FFFFFF;
    }

    .search-form {
        height: 72px;
        padding-top: 0;
        padding-right: 0;
    }

    .checkbox {
        background: #FFFFFF;
        border-left: 0;
        margin: 0 auto;
        padding-top: 45px;
        padding-bottom: 0;
    }

    .search-form__input {
        background-image: none;
        font-size: 14px;
    }

    .search-form__input::placeholder {
        top: 25px;
        left: 19px;
    }

    .search-form__button {
        margin-top: 19px;
        margin-right: 19px;
    }
}
